@charset "utf-8";

                                /* 헤더 */
#header {
    width: 100%;
    background: rgba(255, 255, 255,0);
    display: block;
    height: 100px;
    position: fixed;
    transition: all 0.2s;
    z-index: 55555;
}
#header:hover {
    background: rgba(255, 255, 255,1);
} 
#header.on {
    background: rgba(255, 255, 255,1);
    box-shadow: 0px 8px 10px 2px rgb(0 0 0  / 10%);
}

                                /* 헤더 로고 */
#header .logobox {
    width: 180px;
    height: 43px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
#header .logobox .logo{
    background: url(../img/logo.png);
    display: block;
    width: 180px;
    height: 43px;
    background-repeat: no-repeat;
    background-size: contain;
}
#header .logobox img {
    display: none;
}
#header:hover .logobox .logo {
    background: url(../img/logo-c.png);
}
#header.on .logobox .logo {
    background: url(../img/logo-c.png);
}

                                /* nav 메뉴 */
#header:hover #nav .depth1>li {
    color: #000;
}
#header.on #nav .depth1>li {
    color: #000;
}
#header #nav {
    width: 100%;
    overflow: hidden;
}
#header #nav .depth1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 705px;
    transition: all 0.8s;
}
#header #nav .depth1>li {
    float: left;
    display:block;
    padding: 0 30px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    position: relative;
    margin: 45px 0;
    transition: all 0.3s;
}
#header #nav .depth1>li:hover {
    color: rgb(211, 25, 25)
}
#header #nav .depth1:hover .depth2 {
    display: block;
}
#header #nav .depth1:hover .depth2 {
    display: block;
}
#header #nav .depth2 {
    position: absolute;
    top: -50px;
    left: 0px;
    width: 100%;
    color: rgb(92, 92, 92);
    padding: 40px 0 24px 0;
    z-index: 8;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    height: 200px;
    display: none;
    margin-top: 50px;
}
#nav .depth2 li a {
    display:block;
    padding:10px 20px; 
}
#nav .depth2 li:hover a {
    color: rgb(211, 25, 25)
}
#nav .navbox .box_bg {
    width: 100%;
    height: 0;
    background:#fff;
    display: none;
    box-shadow: 0px 8px 10px 2px rgb(0 0 0  / 10%);
    /* border-top: 1px solid rgb(189, 189, 189, 0.3); */
    position: absolute;
    top: 100px;
}


                                /* 사이드 메뉴 열기 버튼 */                               
.open {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.open .bar {
    width: 33px;
    height: 25px;
    position: relative;
    cursor: pointer;
}
.open .bar .bartop {
    width: 33px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 0;
}
.open .bar .barmiddle {
    width: 23.09px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.open .bar .barbottom {
    width: 33px;
    height: 3px;
    background: #fff;
    position: absolute;
    bottom: 0;
}
#header:hover .row .open .bar .bartop {
    background: #000;
}
#header.on .row .open .bar .bartop {
    background: #000;
}
#header:hover .row .open .bar .barmiddle {
    background: #000;
}
#header.on .row .open .bar .barmiddle {
    background: #000;
}
#header:hover .row .open .bar .barbottom {
    background: #000;
}
#header.on .row .open .bar .barbottom {
    background: #000;
}

                                /* 사이드 메뉴 */
.m_menu{
    width:334px;
    height:100%;
    position:fixed;
    top:0;
    right:-334px;
    background:#fafafa;
    z-index: 50;
    padding-top:60px;
    z-index: 999999;
    overflow-y:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.m_menu::-webkit-scrollbar {
    display: none; 
}
.m_menu .m_depth1 {
    text-align: left;
    font-size: 30px;
    color: #555555;
    font-weight: bold;
    padding: 0px 20px;
    padding-top: 50px;
    transition: all 0.3s;
}
.m_menu .m_depth1 ul li {
    padding: 10px 20px;
}
.m_menu .m_depth1 ul {
    font-size: 15px;
    color: #777777;
    display: none;
}
.m_menu .m_depth1>li {
    padding: 24px 40px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    transition: all 0.3s;
}
.m_menu .m_depth1>li:hover {
    color: #c83044;
}
.m_menu .m_depth1>li.on {
    color: #c83044;
}
.m_menu .m_depth1>li:hover>.holder {
    border-top: 2px solid #c83044;
    border-left: 2px solid #c83044;
}
.m_menu .m_depth1>li.on>.holder {
    border-top: 2px solid #c83044;
    border-left: 2px solid #c83044;
    transform: rotate(-315deg);
}
.m_menu .m_depth1 .holder {
    border-top: 2px solid #555;
    border-left: 2px solid #555;
    transform: rotate(-135deg);
    display: block;
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    right: 20px;
    z-index: 10;
    top:35px;
    transition: all 0.3s;
}

                                /* 사이드 메뉴 서브(슬라이드메뉴) */
.m_menu .m_depth2 {
    display: none;
}
.m_menu .m_depth2 li {
    font-weight: 500;
    margin-top: 20px;
}
.m_menu .m_depth2 li:hover {
    color: #c83044;
}

                                /* 사이드 메뉴 닫기 버튼 */
.close {
    position: absolute;
    top: 39px;
    right: 20px;
    display: none;
    transition: all 0.3s;
    cursor: pointer;
    width: 33px;
    height: 25px;
}                              
.close .bartop {
    width: 33px;
    height: 3px;
    background: #555555;
    position: absolute;
    top: 0;
    transform-origin: top left;
    transform: rotate(45deg);
}
.close .barbottom {
    width: 33px;
    height: 3px;
    background: #555555;
    position: absolute;
    top: 23px;
    left: -2px;
    transform-origin: top left;
    transform: rotate(-45deg);
}
.close:hover .bartop {
    background: #c83044;
}
.close:hover .barbottom {
    background: #c83044;
}

                                /* 사이드메뉴 버튼 */
.btnbox {
    margin-top: 50px;
    margin-left: 80px;
}
.btn {
    display: inline-block;
    padding: 7px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    color: #555555;
    margin: 0px 10px 0px 0px ;
    transition: all 0.2s;
}
.btn:hover {
    background:#c83044;
    color: #fff;
}

                                /* 사이드 메뉴 뒷배경 */
.black_back {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    z-index: 66666;
}

                                /* 푸터 */
#footer {
    background: #333;
    color: #777;
    width: 100%;
    position: relative;
    clear: both;
    padding: 20px 0 80px 0;
    border-top: 0px solid #eee;
    overflow: hidden;
}
#footer .footer_wrap {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

                                /* fnb메뉴 */
#footer .fnb {
    width: 100%;
    padding: 15px 0 0 0;
    overflow: hidden;
    margin: 0 0 0 120px;
    position: absolute;
    top: -15px;
    left: 0px;
    width: 100%;
}
#footer .fnb li {
    display: inline-block;
    color: #ddd;
    font-weight: bold;
    font-size: 16px;
}
#footer .fnb li:hover a {
    color:#fff;
    text-decoration: underline;
}
#footer .fnb span {
    padding-left: 5px;
    color: #777;
    font-size: 14px;
}

                                /* sns메뉴 */
#footer .sns {
    position: absolute;
    right: 0px;
    top: -5px;
}
#footer .sns li {
    display: inline-block;
    opacity: 0.6;
    padding-left: 5px;
    transition: all 0.3s;
}
#footer .sns li:first-child {
    padding-left: 0px;
}
#footer .sns li:hover {
    opacity: 1;
    transform: scale(1.2);
}

                                /* address메뉴 */
#footer .address {
    width: 100%;
    padding: 15px 0 1px 1px;
    overflow: hidden;
    font-size: 13px;
    color: #999;
    margin: 0 0 0 120px;
    position: absolute;
    top: 25px;
}
#footer .address span {
    padding: 0 10px;
    color: #777;
    font-size: 14px;
}
#footer .address li {
    display: inline-block;
    font-size: 14px;
    color: #999;
    padding: 0 13px 0 0;
    margin: 0 12px 0 -28px;
}
#footer .address li:first-child {
    margin-left: 0px;
}
#footer .address>.add2 li {
    padding:10px 0px;
    margin-right: 24px;
}

                                /* copy메뉴 */
#footer .copy {
    width: 100%;
    font-size: 13px;
    color: #888;
    padding: 0 0 0;
    margin: 0 0 0 120px;
    padding-top: 10px;
    overflow: hidden;
}