@charset "utf-8";

@media screen and (max-width:1024px) {

                                /* 컨텐츠 공통 적용 */
    article {
        padding-bottom: 30px;
        overflow: hidden;
    }
    #section>.cont {
        opacity: 1;
        margin-top: 0px;
        padding-top: 0px;
        transform: scale(1);
    }
    .topbx h2 {
        font-size: 30px;
    }
    .topbx p {
        font-size: 16px;
        padding: 10px 0 30px 0;
        margin-bottom: 0px;
    }
    .cont .cont_box h2{
        font-size: 30px;
        color: #333;
        padding: 50px 0 0 0;
    }
    .cont_box p {
        font-size: 16px;
        font-weight: normal;
        color: #888;
        padding: 15px 0 40px 0;
    }
    .cont_box {
        width: 24%;
        float: left;
        margin-right: 1.333333333%;
        transition: all 0.3s;
        margin-bottom: 2%;
    }
    .cont .imgbox_wrap {
        width: 98%;
    }
    .imgbox_wrap {
        width: 98%;
        margin: 0 auto;
    }
    .cont_box h3 {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin: 1px 0 0 0;
        transition: all 0.3s;
    }
    .cont_box p {
        font-size: 13px;
        font-weight: normal;
        color: #777;
        margin: 10px 0 20px 0;
    }
    .cont_box .textbox {
        padding: 20px 0 0 5px;
    }

                                /* 슬라이더 */
    .cont1 .slider .slick-prev { 
        font-size: 40px;
    }
    .cont1 .slider .slick-next { 
        font-size: 40px;
    }
    #section .cont1 .slide .slide_text h2 {
        font-size: 36px;
    }
    .cont1 .slide .slide_text p {
        font-size: 13px;
    }
    .cont1 .slick-arrow {
        font-size: 30px;
    }
                                /* 컨텐츠구역 1 */
    .cont1 {
        padding-bottom: 30px;
    }

                                /* 컨텐츠구역 3 */
    .cont3 .imgbox_box h3 {
        font-size: 30px;
    }
    .cont3 .imgbox_box p {
        font-size: 14px;
    }
    .cont3 .imgbox_box {
        width: 100%;
    }

                                /* 컨텐츠구역 4 */
    .cont4_left {
        width: 100%;
        float: left;
        margin-bottom: 2%;
        transition: all 0.3s;
        
    }
    .cont4_right {
        width: 100%;
        float: right;
        transition: all 0.3s;
    }

                                /* 컨텐츠구역 6 */
    .cont6 a {
        width: 49%;
        margin-right: 0.5%;
    }
    .cont6 a:first-child {
        margin-right: 0px;
    }
    .cont6 a:nth-child(3) {
        margin-top: 5px;
        margin-right: 0px;
    }

                                /* 버튼 */
    .gotop {
        width: 0;
    }
}

@media screen and (max-width:768px) {

                                /* 컨텐츠 공통 적용 */
    .cont .cont_box {
        width: 49%;
        float: left;
        margin-right: 2%;
        transition: all 0.2s;
    }
    .cont .cont_box:nth-child(2) {
        margin-right: 0px;
    }
    .topbx h2 {
        font-size: 26px;
    }
    .topbx p {
        font-size: 14px;
        padding: 10px 0 30px 0;
        margin-bottom: 0px;
    }

    .cont .cont_box h2{
        font-size: 25px;
        color: #333;
        padding: 50px 0 0 0;
    
    }
    .cont .cont_box h3 {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin: 1px 0 0 0;
        transition: all 0.3s;
    }
    .cont .cont_box p {
        font-size: 11px;
        font-weight: normal;
        color: #777;
        margin: 10px 0 20px 0;
    }

                                /* 슬라이더 */
    #section .slide { 
        height:80vw; 
    }
    #section .cont1 .slide .slide_text h2 {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .cont1 .slide .slide_text p {
        line-height: 14px;
        font-size: 12px;
    }
    .cont1 .slick-arrow {
        font-size: 20px;
    }

                                /* 컨텐츠구역 3 */
    .cont3 .imgbox_box h3 {
        font-size: 25px;
    }
    .cont3 .imgbox_box p {
        font-size: 12px;
    }

                                /* 컨텐츠구역 4 */
    .cont4_back {
        width: 98%;
        margin: 0 auto;
        transition: all 0.3s;
    }

                                /* 컨텐츠구역 6 */
    .cont6 a {
        width: 49%;
        margin-right: 0.5%;
    }
    .cont6 a:first-child {
        margin-right: 0px;
    }
    .cont6 a:nth-child(3) {
        margin-top: 5px;
        margin-right: 0px;
    }
}